@use "../../partials/variables" as *;

.burger {
  background-color: $primary-background;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;

  &__bar {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }

  &__title {
    text-decoration: none;
    color: $secondary-text;
    font-size: 2.3em;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin: 0 auto;
  }

  &__menu {
    background-color: $primary-background;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

    &--active {
      left: 0;
      transition: 850ms;
    }
  }

  &__path {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }

  &__direct {
    text-decoration: none;
    color: $secondary-text;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
  }

  &__menu-items {
    width: 100%;
    padding: 0;
  }

  &__toggle {
    background-color: $primary-background;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__path-name {
    margin-left: 1rem;
  }
}
